@model Aptitude.Models.Exam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximumMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximumMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarksToPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarksToPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNegativeMarkingAllowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNegativeMarkingAllowed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
